.products{
    padding: 0;
}
.card{
    height: 300px;
    overflow: hidden;
    width: 500px;
    padding: 0px 0px !important;
    margin-right: 5px !important;
    border: none;
    

    
     
    

}

img{
    object-fit:cover ;
    height: 400px;
    
   
}

.button{
    position: absolute;
    left: 45%;
    bottom: 0;
}