.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.carousel {
  display: flex;
  /* align-items: center; */
  height: 50vh;
  width: 100%;
}

.big-container {
  background-color: #030440;
}
